<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">

	<!-- Archivos CSS -->
	<link rel="stylesheet" type="text/css" href="/fontawesome/styles/all.min.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/CSS/globalUsers.css">

	<!-- Ícono del Sitio Web -->
	<link rel="icon" type="image/gif" href="/IMG/logoIco.png">

	<!-- Archivos JavaScript -->
	<script type="text/javascript" src="/JS/JQuery/jquery.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="/JS/globalUsers.js"></script>

	<title></title>
</head>
<body>

	<header id="header">
		<div id="title-page">
			<span><i class="li-icon fas fa-users-cog"></i> Usuarios</span>
		</div>
		<div id="global-links">
			<a href="../password">
				<button title="Administrar Contraseña">
					<i class="li-icon fas fa-lock"></i>
				</button>
			</a>
			<% if(tipo_usuario=='Administrador' || tipo_usuario=='Desarrollador'){ %>
				<a href="../usuarios" title="Usuarios">
					<button>
						<i class="li-icon fas fa-user-cog"></i>
					</button>
				</a>
			<% } %>
			<a href="../">
				<button title="Inicio">
					<i class="li-icon fas fa-home"></i>
				</button>
			</a>
			<a href="../ayuda">
				<button title="Ayuda">
					<i class="li-icon fas fa-question-circle"></i>
				</button>
			</a>
			<a href="../close" title="Cerrar Sesión">
				<button>
					<i class="li-icon fas fa-sign-out-alt"></i>
				</button>
			</a>
			<span class="cleaner"></span>
		</div>
	</header>

	<section id="section">
			<form id="newUserForm" method="post" action="/password/">
			<header>
				<i class="li-icon fas fa-lock"></i> Cambiar Contraseña
			</header>
			<section>
				<label for="password">Contraseña Actual: <span class="obligatory">*</span></label>
				<input type="password" name="password" placeholder="Contraseña"
					<% if((typeof values)!='undefined'){ %>
						value="<%- values.password%>"
					<% } %>
				>
				<p id="nombreError" class="error">
					<% if((typeof errors)!='undefined'){ %>
						<% if('password' in errors){ %>
							<%- errors.password %>
						<% } %>
					<% } %>
				</p>

				<label for="pass1">Nueva Contraseña: <span class="obligatory">*</span></label>
				<input type="password" name="pass1" placeholder="Contraseña"
					<% if((typeof values)!='undefined'){ %>
						value="<%- values.pass1%>"
					<% } %>
				>
				<p id="nombreError" class="error">
					<% if((typeof errors)!='undefined'){ %>
						<% if('pass1' in errors){ %>
							<%- errors.pass1 %>
						<% } %>
					<% } %>
				</p>

				<label for="pass2">Confirmar Contraseña: <span class="obligatory">*</span></label>
				<input type="password" name="pass2" placeholder="Contraseña"
					<% if((typeof values)!='undefined'){ %>
						value="<%- values.pass2%>"
					<% } %>
				>
				<p id="nombreError" class="error">
					<% if((typeof errors)!='undefined'){ %>
						<% if('pass2' in errors){ %>
							<%- errors.pass2 %>
						<% } %>
					<% } %>
				</p>

				<center>
					<button type="submit">Confirmar</button>				
				</center>
			</section>
		</form>
	</section>

	<div id="message-section">
		<% if(typeof err!='undefined'){ %>
			<div class="message" id="messageError">
				<div>
					<p>message</p>
					<button class="accept">Aceptar</button>
					<span class="cleaner"></span>
				</div>
			</div>
		<% } %>
	</div>

	<div id="charger">
		<div class="charger charger-one">
			<div class="charger charger-two">
				<div class="charger-img">
					<img src="/img/logoIco.png">
				</div>
			</div>
		</div>
	</div>

</body>
</html>